$font-stack:    Helvetica, sans-serif;
$primary-color: rgb(10, 218, 10);

.one {
  font: 500% $font-stack;
  color: $primary-color;
}

.six{
    font: 500% $font-stack;
  color: $primary-color;
}

.title{
    font: 500% $font-stack;
  color: $primary-color;
}